.the-table {
  width: 45%;
  position: fixed;
  right: 25%;
  top: 12%;
  background: #fff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 20px;
}

.the-table h1 {
  text-align: center;
  color: #333;
  margin-bottom: 10px;
}

.table-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.add-btn {
  align-self: flex-end;
  margin-bottom: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 6px 12px;
  cursor: pointer;
  text-decoration: none;
}

.add-btn:hover {
  background-color: #0056b3;
}

table {
  width: 100%;
  border-collapse: collapse;
  text-align: center; 
}

th, td {
  border: 1px solid black;
  padding: 10px 15px;
  text-align: center;
}

thead {
  background-color: #007bff;
  color: white;
}

tbody {
  color: #333;
}

button {
  padding: 6px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 5px;
}

.btn-view {
  background-color: #28a745;
  color: white;
  border-radius: 5px;
  text-decoration: none;
  border: none;
  padding: 5px 10px;
  
}

.btn-edit {
  background-color: #ffc107;
  color: black;
  border-radius: 5px;
  text-decoration: none;
  size: 5px;
  border: none;
  padding: 5px 10px;
  margin-left: 5px;
}

.btn-delete {
  background-color: #dc3545;
  color: white;
    padding: 6px 10px;
}

.btn-view:hover,
.btn-edit:hover,
.btn-delete:hover {
  opacity: 0.85;
}
