.sidebar {
  background-color: #000;
  width: 180px;         
  height: 100vh;        
  color: aliceblue;
  position: fixed;      
  top: 0;                  
  left: 0;                 
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 25px;
}
.sidebar ul{
    list-style: none;
    padding-top: 25px;
}
.sidebar a{
    color: aliceblue;
    text-decoration: none;
    font-size: large;
}
.sidebar li{
    margin: 20px;
}
.sidebar a:hover{
    color: cadetblue;
}

